.addItem{
    display: flex;
    flex-direction: column;
    border: 2px solid;
    width: 70%;
    height: 80%;
    box-shadow: 1px 1px 3px 4px navajowhite;
}
.inputContent{
    display: inherit;
    flex-direction: column;
    justify-content: space-evenly;
    height: 26%;
    width: 90%;
    margin-left: 2%;
}
input{
width: 70%;
height: 15%;
}
table{
    min-width: 95%;
    margin-top: 3%;
}